@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* clock 
*/

#clock {
  @apply text-red-600 text-center  font-mono text-9xl scale-150 py-10;
}

#day_name {
  @apply text-9xl text-white text-center font-semibold scale-100 py-4 ;
}

#date {
  @apply text-6xl text-white text-center font-semibold scale-100 py-4 ;
}

#seconds {
  @apply text-xl text-white text-left scale-100 font-mono ;
}

#light {
  @apply mt-8 max-w-xl mx-auto text-center;
}
#light button {
  @apply bg-transparent mx-1 py-2 px-4 border-slate-400 border-2 rounded-lg shadow-sm transition ease-in-out duration-150 outline-none hover:bg-slate-300 disabled:opacity-50 disabled:cursor-not-allowed;
}
#light img,
#light svg {
  @apply w-8;
}
#light .meter {
  @apply flex h-12 overflow-hidden text-base bg-slate-300 rounded-lg mb-8;
}
#light .meter > span {
  @apply flex flex-col justify-center text-slate-900 text-center whitespace-nowrap bg-yellow-300 font-bold w-0;
  transition: width 2s ease;
}

body {
  @apply antialiased relative bg-slate-200 font-sans bg-black ;
}

nav {
  @apply py-3 px-6 flex justify-end;
}

nav ul {
  @apply flex items-center justify-between gap-4;
}

nav ul li {
  @apply text-base text-slate-700;
}

nav ul li a:hover {
  @apply underline;
}

main {
  @apply max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8;
}

h1 {
  @apply text-center text-slate-900 font-extrabold text-3xl;
}

h2 {
  @apply text-center text-slate-800 font-extrabold text-2xl;
}

h3 {
  @apply text-center text-slate-800 font-bold text-xl;
}

